/* Responsive Device:Phone */

@media (max-width:500px)
{

  /* Navigation Bar */
  .container
  {
    flex-wrap: wrap-reverse;
    height:10rem;
    width:450px;
  }
  #search-field 
  {
    width: 16rem;
    margin-left:4rem;
  }
  .profile
  {
    margin-left:4rem;
  }

  .dashboard
  {
    gap:0.5rem;
    margin-left:5rem;
  }

  .dashboard> button
  {
      margin-left:3.7rem;
      margin-bottom: 1rem;
  }

  /* Remainder */
  .remainder-content
  {
    width:350px;
   } 
   .fa-calendar
   {
     margin-left:6.5rem;
   }
   .fa-dollar-sign
   {
     margin-left:7.8rem;
   }
  
  .icon >.fa-clipboard-list:before
  {
    margin-left:0.25rem;
  }
  #pbar
  {
    width:12rem;
    margin-top:2.8rem;
  }
  .fa-comments
  {
    margin-left:6.3rem;
  }

  /* Chart */
  .chart
  {
     margin:1rem 0 1rem 1rem ; 
  }
  .linechart,.dchart
  {
    width:350px;
   
  }

 /* Linechart */
  .linechart
  {
      margin-bottom: 1.5rem;
  }
  .licon
  {
    margin-left:8.5rem;
  }
  
  /* Doughnut Chart */
  .dchart
  {
    margin-top: -1rem;
  }
  .dcicon
  {
    margin-left:9.5rem;
  } 

  /* Project  */
  .projects
  {
    width:350px;
    height:24rem;
    margin-left:2rem;
    margin-top: -1rem;
  }
  
  /* Illustration  */
  .illustration 
  {
    width:350px;
    margin-right:0.8rem;
    height:30rem;
    font-size:0.95rem;
    text-align:justify;
  }
  .illustration > img
  {
    margin-left:3.5rem;
  }

  /* Color */
  .color-container
  {
    margin-left:1.8rem;
  }
  .colors
  {
    width:350px;
  }

  /* Development  */
  .development
  {
    width:350px;
    height:20rem;
    margin-bottom:2rem;
    margin-top: 0rem;
  }

  /* Footer */
  .footer
  {
    width:450px;
  }

  .footer > p
  {
    margin-right: 4rem;
  }

  /* Floating Icon */
  #float-button
  {
  top:22rem;
  left:21rem;
  }


} 
